<section class="slider">
  <div class="container slider__container">
    <div class="swiper slider__slider">
      <div class="slider__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/Rectangle 37.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <h3 class="slider__article-title heading-h5">What we believe in</h3>
          <p class="slider__article-description">
            Over the years at Sans, we’ve put a lot of thought into <br />what
            it is that makes us who we are. The qualities that <br />unite us,
            that make us such an effective team, and...
          </p>
          <a href="/"><div class="slider__article-btn">See Details</div></a>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/insight-slide-1-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <h3 class="slider__article-title heading-h5">What we believe in</h3>
          <p class="slider__article-description">
            Over the years at Sans, we’ve put a lot of thought into <br />what
            it is that makes us who we are. The qualities that <br />unite us,
            that make us such an effective team, and...
          </p>
          <a href="/"><div class="slider__article-btn">See Details</div></a>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/insight-slide-2-img.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <h3 class="slider__article-title heading-h5">What we believe in</h3>
          <p class="slider__article-description">
            Over the years at Sans, we’ve put a lot of thought into <br />what
            it is that makes us who we are. The qualities that <br />unite us,
            that make us such an effective team, and...
          </p>
          <a href="/"><div class="slider__article-btn">See Details</div></a>
        </div>
      </div>
    </div>
  </div>
</section>
