<section class="staff">
  <div class="container staff__container">
    <div class="staff__top">
      <h2 class="staff__title">
        Meet our team of creators, <br />designers, and world-class
        <br />problem solvers
      </h2>
      <p class="staff__description">
        To become the company that customers want, it takes a <br />group of
        passionate people. Get to know the people who lead
      </p>
    </div>
    <div class="swiper slider__slider">
      <div class="slider__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/Rectangle 6.png"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <h3 class="slider__article-title heading-h5">Roger Dzawin</h3>
            <ul class="social">
              <li class="social__item social__item-first"></li>
              <li class="social__item social__item-second"></li>
              <li class="social__item social__item-third"></li>
            </ul>
          </div>
          <p class="slider__article-description">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/Rectangle 4.png"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <h3 class="slider__article-title heading-h5">Arlyne Stefano</h3>
            <ul class="social">
              <li class="social__item social__item-first"></li>
              <li class="social__item social__item-second"></li>
              <li class="social__item social__item-third"></li>
            </ul>
          </div>
          <p class="slider__article-description">Founder & CEO</p>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/Rectangle 5.png"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <h3 class="slider__article-title heading-h5">Katy Cristy</h3>
            <ul class="social">
              <li class="social__item social__item-first"></li>
              <li class="social__item social__item-second"></li>
              <li class="social__item social__item-third"></li>
            </ul>
          </div>
          <p class="slider__article-description">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/Rectangle 6.png"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <h3 class="slider__article-title heading-h5">Roger Dzawin</h3>
            <ul class="social">
              <li class="social__item social__item-first"></li>
              <li class="social__item social__item-second"></li>
              <li class="social__item social__item-third"></li>
            </ul>
          </div>
          <p class="slider__article-description">Chief Technology Officer</p>
        </div>
      </div>
    </div>
    <div class="staff__bottom">
      <h2 class="staff__title">
        Join our team, The one <br />
        with the master touch
      </h2>
      <div class="staff__bottom-left">
        <p class="staff__description staff__description-bottom">
          We believe it takes great people to make a great product. <br />
          That’s why we hire not only the perfect professional fits, <br />but
          people who embody our company values.
        </p>
        <a href="/"> See Open Position -> </a>
      </div>
    </div>
  </div>
</section>
