<section class="posts">
  <div class="container section__container">
    <div class="swiper slider__slider">
      <div class="slider__slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="./assets/image/image (1).jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <p>Published in Insight Jan 30, 2021</p>
            <p>by : Albert Sans</p>
          </div>
          <h3 class="slider__article-title heading-h5">
            Practice making User Flow
          </h3>
          <p class="slider__article-description">
            In this article, we'll cover how to <br />create user flows
          </p>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="./assets/image/image.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <p>Published in Insight Jan 30, 2021</p>
            <p>by : Albert Sans</p>
          </div>
          <h3 class="slider__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="slider__article-description">
            What are Design Principles?… To understand <br />design principles,
            we first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="./assets/image/Rectangle 37.png"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <p>Published in Insight Jan 30, 2021</p>
            <p>by : Albert Sans</p>
          </div>
          <h3 class="slider__article-title heading-h5">
            Using Grid in website design
          </h3>
          <p class="slider__article-description">
            Andi: "What's the grid like?" Toni: <br />“Like below…”
          </p>
        </div>
        <div class="swiper-slide slider__article">
          <img
            loading="lazy"
            class="slider__article-img"
            src="assets/image/image.jpg"
            width="582"
            height="332"
            alt="Man typing on laptop"
          />
          <div class="slider__article-top">
            <p>Published in Insight Jan 30, 2021</p>
            <p>by : Albert Sans</p>
          </div>
          <h3 class="slider__article-title heading-h5">
            Overview of the Design Principles
          </h3>
          <p class="slider__article-description">
            What are Design Principles?… To understand <br />design principles,
            we first discuss the principles.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
